
<div class="container pt-2">

<!--  <div class="row">
    <div class="col-sm-12">
       <app-counter></app-counter>
    </div>

  </div>

  <div class="row">
    <div class="col-sm-12">
<app-heroes-hero></app-heroes-hero>
</div>
</div>

<div class="row">
  <div class="col-sm-12">
<h1>Listado De Heroes</h1>
  </div>
</div>


<div class="row">
  <div class="col-sm-12">
<app-heroes-list></app-heroes-list>
  </div>
</div>-->

<div class="row">
  <div class="col-sm-12">
    <app-dbz-main-page></app-dbz-main-page>
  </div>
</div>
</div>
